<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <div class="form-container">
        <h2>Ro'yxatdan o'tish</h2>
        <form class="menu" method="POST">
            <label for="username">Foydalanuvchi nomi:</label>
            <input type="text" name="username" required>

            <label for="name">Ism:</label>
            <input type="text" name="name" required>

            <label for="surname">Familiya:</label>
            <input type="text" name="surname" required>

            <label for="password">Parol:</label>
            <input type="password" name="password" required>

            <button type="submit">Ro'yxatdan o'tish</button>
        </form>
        <p>Allaqachon hisobingiz bormi? <a href="{{ url_for('login') }}">Tizimga kirish</a></p>
    </div>
</body>
</html>
