<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symbol Ro'yxatdan O'tkazish</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/reg_server.css">
</head>
<body>
    <div class="form-container">
        <h2>Yangi Server Ro'yxatdan O'tkazish</h2>
        <form method="POST">
            <label for="name">Server Nomi:</label>
            <input type="text" name="name" required>

            <button type="submit">Ro'yxatdan O'tkazish</button>
        </form>
    </div>
</body>
</html>
